.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner__text {
    font-size: 1.2rem;
    text-align: center;
    color: #45a1ff;
    margin-top: 1rem;
}
